workflows/felling-google-sheets.json
{
  "updatedAt": "2026-06-09T17:24:32.000Z",
  "createdAt": "2026-06-09T16:36:59.737Z",
  "id": "ffHOmJLoC01DbGgL",
  "name": "Felling Google Sheets",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review",
        "formDescription": "We look forward to hearing your feedback about your experience at our hotel.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Review",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        40
      ],
      "id": "87167e63-7366-403b-b712-de2e3a1e06cc",
      "name": "On form submission",
      "webhookId": "bb9e2b1a-72b5-4666-b0aa-a472e6863038"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Review }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are expert in sentiment analysis.\nYou conduct evalutions and determine which of the three options applies:\n\nPositive\nNegative\nNeutral\nYou respond with only one word."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        320,
        40
      ],
      "id": "6473342c-dbfc-4389-91ed-0e0d920c9b72",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=openai/gpt-oss-120b",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "de3ad50b-a43a-4c1a-af76-0e25eac5d914",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        780,
        -280
      ],
      "id": "5a214016-223f-46c1-a00c-72c0c1d054e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhk_eFkUpFwz9ndVIdMuF4VHOMTuks6HZ0stkxYwb24",
          "mode": "list",
          "cachedResultName": "N8n sentimentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vhk_eFkUpFwz9ndVIdMuF4VHOMTuks6HZ0stkxYwb24/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vhk_eFkUpFwz9ndVIdMuF4VHOMTuks6HZ0stkxYwb24/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Felling": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Felling",
              "displayName": "Felling",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1080,
        -280
      ],
      "id": "e639060f-9c17-4a8b-9717-186fd9ddf819",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "onQdM9e4OsH2HYlE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fc36c046-502b-4f09-9cf1-2bc31b8be63f",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-09T16:36:59.750Z",
      "createdAt": "2026-06-09T16:36:59.750Z",
      "role": "workflow:owner",
      "workflowId": "ffHOmJLoC01DbGgL",
      "projectId": "JQyTTjJMNM8n2QpU",
      "project": {
        "updatedAt": "2025-05-28T10:59:42.882Z",
        "createdAt": "2025-05-28T10:53:01.795Z",
        "id": "JQyTTjJMNM8n2QpU",
        "name": "kenji maeda <kenjimaedafamily@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}