workflows/rag-with-database-vector.json
{
  "updatedAt": "2026-06-11T19:39:56.000Z",
  "createdAt": "2026-06-10T19:40:46.329Z",
  "id": "zKdNFovzg6WdEoQd",
  "name": "RAG with database vector",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13xDTtzvSPP1DVJPTp8inCXvhEmWkUoU-",
          "mode": "list",
          "cachedResultName": "tesla",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13xDTtzvSPP1DVJPTp8inCXvhEmWkUoU-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "36216f2c-9627-4417-b7a9-45363de92771",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mhcbaDuHFuoKpY9m",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "24703047-5d6d-4645-a84f-bd9040ace830",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mhcbaDuHFuoKpY9m",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntesla",
          "mode": "list",
          "cachedResultName": "n8ntesla"
        },
        "options": {
          "pineconeNamespace": "tesla"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "d2d8c4a4-c3b7-4e38-a8ac-aa9cc8eeddce",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "F5m0CSbwpklaMsfj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=openai/text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        240
      ],
      "id": "1ec14acc-219a-4a8d-82b3-28e552ee5edd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tesla3n",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "f3090600-1187-4bf0-8578-6e638755080b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "d3b8f374-d560-4ae5-a75d-ecf222e2e9b2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-06-11T18:56:05Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "6315eae0-b6f4-463a-84e2-98c7934c954f",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-10T19:40:46.345Z",
      "createdAt": "2026-06-10T19:40:46.345Z",
      "role": "workflow:owner",
      "workflowId": "zKdNFovzg6WdEoQd",
      "projectId": "JQyTTjJMNM8n2QpU",
      "project": {
        "updatedAt": "2025-05-28T10:59:42.882Z",
        "createdAt": "2025-05-28T10:53:01.795Z",
        "id": "JQyTTjJMNM8n2QpU",
        "name": "kenji maeda <kenjimaedafamily@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "030dd5bf-9c48-4b90-8af9-957c3e0050d4"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}