workflows/Receive-email-by-pinnecode.json
{
  "updatedAt": "2026-06-14T15:04:18.157Z",
  "createdAt": "2026-06-14T12:46:03.165Z",
  "id": "PNwaSsJWt506VFDj",
  "name": "Receive email by pinnecode",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        16
      ],
      "id": "19f44143-8024-4b4f-8d39-33cb3aa4ed33",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant send email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        16
      ],
      "id": "c9e8a9ab-5a22-4b6a-b807-b75ca40fbc36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        224
      ],
      "id": "b5f5703f-17ec-4aee-90d9-84f2c7c582a6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        64,
        288
      ],
      "id": "d78214a6-7341-40bd-88a1-afe9056bdc82",
      "name": "send_email",
      "webhookId": "e226fc19-ddce-4a74-90a5-8f9d7c512d4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "4qB2EI2jjO7Hsfvl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df915322-e9c2-4ed2-a2df-494675bf9aa1",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-14T12:46:03.168Z",
      "createdAt": "2026-06-14T12:46:03.168Z",
      "role": "workflow:owner",
      "workflowId": "PNwaSsJWt506VFDj",
      "projectId": "JQyTTjJMNM8n2QpU",
      "project": {
        "updatedAt": "2025-05-28T10:59:42.882Z",
        "createdAt": "2025-05-28T10:53:01.795Z",
        "id": "JQyTTjJMNM8n2QpU",
        "name": "kenji maeda <kenjimaedafamily@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}