workflows/Supornship-reply.json
{
  "updatedAt": "2026-06-26T14:01:48.626Z",
  "createdAt": "2026-06-14T19:27:25.232Z",
  "id": "qJ4L41Ny5HyYNVSs",
  "name": "Supornship reply",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -32
      ],
      "id": "e7b5db02-c9f6-48c3-addd-cc1e30d2441b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4qB2EI2jjO7Hsfvl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dd626b3-8ee9-41a3-94d8-a101cd8eb353",
              "name": "=Email context",
              "value": "=From: {{ $json.From }} \nSubject: {{ $json.Subject }} \nEmail body: {{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "1428e06d-e3ec-4743-aa4b-9f6a52faf1f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Estou editanto o retorno do gmail trigger pois e grande o retorno é não desejo  todo os valores",
        "height": 256,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -176
      ],
      "typeVersion": 1,
      "id": "1a317b54-fddc-4649-802e-8454e6811176",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "x-ai/grok-4.3",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        224
      ],
      "id": "45979f4c-986e-4a93-ad8c-f8fb091717db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Dentro do  IA agent estou usando o define bellow ao invez do connect chat trigger isso e independente ambos funcionam.\nE o formato que desejo é um json por isso estou usando Require Specific Output Format\n\n",
        "height": 240,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -160
      ],
      "typeVersion": 1,
      "id": "0013297f-4b5f-43da-bacb-e61072543be1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Role**\nYour task is to determine whether an email is related to a sponsorship deal or not.\n\nRespond with a JSON object containing the following fields:\n\n\n- **isSponsorhip:** Can be either  `\"true\"` or `\"false\"`\n- **reasoning:** Explain your answer.\n\nThink step by step about your response.\n\n{{ $json['Email context'] }}\n\nThink step by step about your response.\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        320,
        -32
      ],
      "id": "d6002522-1280-45f5-9068-c93808f30e42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"isSponsorhip\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "cb24ffc1-6821-48ba-ac1b-898b371cc95f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7f7882f-40fe-471f-8222-67a3f3d1c4c8",
              "leftValue": "={{ $json.output.isSponsorhip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -32
      ],
      "id": "60aee71d-5e4e-4538-9a50-8470182c79b0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        64
      ],
      "id": "75a4ad22-47c4-4f61-9341-c7f74c52bd87",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -336
      ],
      "id": "8bc1b14e-1497-4326-ad66-a518f03226a4",
      "name": "Reply to a message",
      "webhookId": "aefec1bb-5608-4537-b98f-dc2fc80fdcee",
      "credentials": {
        "gmailOAuth2": {
          "id": "4qB2EI2jjO7Hsfvl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email Context: {{ $('Edit Fields').item.json['Email context'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=**Role** Your work is for a YouTube channel called \"Ai mit Arnie\". Your task is to respond to sponsorship inquiries by drafting a reply email.  **Task** Carefully review the email context below and write a friendly and professional email. Return only the **email body in HTML format**-do **not** include a header,only the body!  The email should include details about sponsorship costs and conditions.  **Conditions**  ## Sponsorship Terms of the YouTube Channel **AI mit Arnie**  ### - **Channel Name:** AI mit Arnie - **Subscribers:** 13,000+ - **Average Views per Video:** 2,000 - 10,000 - **Content Focus:** Artificial Intelligence   #### Sponsorship Pricing: - **Standalone Video:** R$ 800 - R$ 12.000 - **Integrated Sponsorship Mention (60 seconds):** R$ 600  ### **Additional Info** *Ai with Arnie* only accepts sponsors that make sense for its target audience. In general, the channel rejects anything that does not provide real value to viewers and does not promote products that the creator does not personally use."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        848,
        -336
      ],
      "id": "73c795e9-5b3d-42a6-bbd7-7d730c63732d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "x-ai/grok-4.3",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        -96
      ],
      "id": "77878c88-1e9e-4107-ab46-b26a567cd191",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1781530073,
        "possibleDuplicates": [
          "19ecb77a5abf61f3",
          "19ecb7472b8bf03c"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5de4656a-9408-4c3c-93f0-aad715e0b693",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-14T19:27:25.235Z",
      "createdAt": "2026-06-14T19:27:25.235Z",
      "role": "workflow:owner",
      "workflowId": "qJ4L41Ny5HyYNVSs",
      "projectId": "JQyTTjJMNM8n2QpU",
      "project": {
        "updatedAt": "2025-05-28T10:59:42.882Z",
        "createdAt": "2025-05-28T10:53:01.795Z",
        "id": "JQyTTjJMNM8n2QpU",
        "name": "kenji maeda <kenjimaedafamily@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}