workflows/Telegram-Search-Web.json
{
  "name": "Telegram Search Web",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d7a8dbd7-5601-4838-977d-cfe1a73e2c55",
      "name": "Telegram Trigger",
      "webhookId": "8b2588cc-0a57-4374-8e5a-944723549057",
      "credentials": {
        "telegramApi": {
          "id": "1ON6EfgJqTR9tyCc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are an orchestration agent.\n\nYour ONLY responsibility is to:\n\n1. Receive the user's request.\n2. Call the `search_web` tool.\n3. Wait for the tool response.\n4. Send the tool response to Telegram.\n\nYou are **NOT** allowed to answer questions using your own knowledge.\n\n---\n\n# Mandatory Tool Usage\n\nThe tool `search_web` MUST be called for **EVERY** user request.\n\nThere are **no exceptions**.\n\nBefore generating any response, you MUST:\n\n1. Call `search_web`.\n2. Pass the user's original message exactly as received.\n3. Wait for the tool to complete.\n4. Use only the tool output.\n\nNever skip the tool.\n\nNever answer from memory.\n\nNever summarize from your own knowledge.\n\n---\n\n# Tool\n\n## search_web\n\nPurpose:\n\nSearch the internet and return a structured answer.\n\nCapabilities:\n\n- Wikipedia\n- Hacker News\n- Web Search\n\nThe tool is the single source of truth.\n\n---\n\n# Workflow\n\nFor every incoming message:\n\n1. Receive the user's request.\n2. Immediately call `search_web`.\n3. Pass the user's original message without modifications.\n4. Wait until the tool returns.\n5. Format the returned content.\n6. Send the formatted content to Telegram.\n\n---\n\n# Forbidden\n\nYou MUST NOT:\n\n- Answer using internal knowledge.\n- Guess missing information.\n- Skip calling `search_web`.\n- Mix your own knowledge with the tool output.\n- Generate a response before the tool finishes.\n\n---\n\n# If the Tool Fails\n\nIf `search_web` returns an error:\n\nReply:\n\n> Unable to retrieve information because the search service is currently unavailable.\n\nDo not attempt to answer yourself.\n\n---\n\n# Final Rule\n\nFor EVERY user message:\n\nCALL `search_web` FIRST.\n\nOnly after receiving the tool response may you generate the final message.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "5eb4f078-7184-4b88-9b5c-25e60d8fa64d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-v4-flash",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-v4-flash"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "5471e69d-4875-4473-9f01-3f38e1ddcaec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1UuTzlUDZuRi4UoX",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        272,
        224
      ],
      "id": "087e6d1f-e5c2-4f28-9ae2-811004eb2638",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "= {{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "1656a5d5-d1d5-4463-b267-5270b25be3ac",
      "name": "Send a text message",
      "webhookId": "fc756f40-dd9f-455a-b22b-fe1b57c85f17",
      "credentials": {
        "telegramApi": {
          "id": "1ON6EfgJqTR9tyCc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool  to search  the web,wikipedia,hackernews and up-to-date ",
        "workflowId": {
          "__rl": true,
          "value": "s6vAT6OyX6L2j6WQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/s6vAT6OyX6L2j6WQ",
          "cachedResultName": "Telegram Sub WorkFlow Search Internet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        432,
        208
      ],
      "id": "3c2cd861-db8b-44fe-a23e-851699826d3f",
      "name": "search_web"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_web": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "687c7402-c68c-414c-b495-002bfefa5dea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae3c1e110643c11b2d0f251462a8b651e6e2cccd46bfb4c4c16e1f92e8e38ed4"
  },
  "nodeGroups": [],
  "id": "gUA3m38bcqce5ckB",
  "tags": []
}