workflows/Whatsapp-Test-Agent.json
{
  "updatedAt": "2026-06-24T13:17:14.527Z",
  "createdAt": "2026-06-22T14:11:26.250Z",
  "id": "v2ioMVRvzkzztPZ1",
  "name": "Whatsapp Test Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        448,
        352
      ],
      "id": "344334bb-f493-4d8e-a3f5-f7451c6885ec",
      "name": "WhatsApp Trigger",
      "webhookId": "2dad59e3-50b9-4a5b-b53c-13d5d1a4acbe",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aRtYVNH1K0mKgjn0",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=**Role**  \nYou are a **personal assistant** designed to help users manage tasks efficiently.  \n\n## **Capabilities**  \nYou have access to the following tools:  \n- **Send_Mail** → Use this tool to send well-formatted emails with a proper greeting and closing.  \n- **Wikipedia** → Use this tool to look up general knowledge and factual information.  \n\n## **Behavior**  \n- You respond **clearly, concisely, and professionally**, while maintaining a friendly tone.  \n- When sending emails, ensure they are **well-structured and polite**.  \n- If a user asks a factual question, check **Wikipedia** before responding.  \n- If a request is unclear, ask for clarification before proceeding.  \n\n## **Restrictions**  \n- Only use **Send_Mail** for sending emails, not for internal communication.  \n- Do not generate responses based on assumptions; always verify with Wikipedia when relevant.  \n\n## time and date: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        352
      ],
      "id": "99b47e75-9c9b-4d03-ac45-ef92809e0ef4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-v4-flash",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-v4-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        624
      ],
      "id": "563fb601-3212-4e65-a31c-e805ab62b2e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n7iFTiVV0J9Rp8GI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        640
      ],
      "id": "34f8b881-0985-478d-84cd-86e6b3f2177a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "483090968231268",
        "recipientPhoneNumber": "+39 3406842987",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        992,
        352
      ],
      "id": "cba0ec16-196e-4123-b2e8-cad9f5487372",
      "name": "WhatsApp Business Cloud",
      "webhookId": "7d3e3da1-67cc-4f6a-b019-7ec9a3c24845",
      "credentials": {
        "whatsAppApi": {
          "id": "qunKnoQui9Mie48t",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        960,
        656
      ],
      "id": "918938c8-09b9-42a7-9ef8-1f817f9423c4",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        816,
        656
      ],
      "id": "d535db45-4b2e-4bf2-8714-edc13f9e390a",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1088,
        656
      ],
      "id": "ed693655-8aa7-4561-916d-b90008564bbb",
      "name": "Gmail",
      "webhookId": "a885aed2-386a-4c16-b338-9c6808ef1243",
      "credentials": {
        "gmailOAuth2": {
          "id": "4qB2EI2jjO7Hsfvl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f0f6e1f5-d2bb-4a7c-a0b5-8158cb26a74e",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-22T14:11:26.258Z",
      "createdAt": "2026-06-22T14:11:26.258Z",
      "role": "workflow:owner",
      "workflowId": "v2ioMVRvzkzztPZ1",
      "projectId": "JQyTTjJMNM8n2QpU",
      "project": {
        "updatedAt": "2025-05-28T10:59:42.882Z",
        "createdAt": "2025-05-28T10:53:01.795Z",
        "id": "JQyTTjJMNM8n2QpU",
        "name": "kenji maeda <kenjimaedafamily@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}